*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;

}

#container{
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}

                         /* SEZIONE COLONNA */
.colonna{
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 250px;
  height: calc(100vh - 90px);
  padding-left: 20px;
  padding-top: 20px;
  color: rgb(102, 102, 102);
  font-weight: bold;
}
                      /* logo */
.logo {
  width: 150px;
}
.logo img{
  width: 100%;
  height: 50px;
}
                       /* home */
.home{
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
.home i{
  font-size: 30px;
  padding-right: 10px;
}
.home:hover{
  color :white;
    cursor: grab;
}
                        /* cerca */
.cerca
{
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
.cerca i{
  font-size: 25px;
  padding-right: 10px;
}
.cerca:hover{
  color :white;
    cursor: grab;
}
                       /* libreria */
.libreria{
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
.libreria i{
  font-size: 25px;
  padding-right: 10px;
}
.libreria:hover{
  color :white;
    cursor: grab;
}
                        /* playlist */
.playlist{
  width: 200px;
  display: inline-block;
}
.playlist p{
  display: inline-block;
  line-height: 10px;
}
.playlist h4{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 15px;
}
.playlist i{
  font-size: 30px;
  margin-top: 15px;
  padding-right: 10px;
  color: white;
}
.playlist p:hover{
  color :white;
    cursor: grab;
}
p{
  text-align: center;
  margin-bottom: 20px;
}
                      /* nomeplaylist */
.nomeplaylist{
  height: calc(100vh - 170px) ;
}
.nomeplaylist li{
  list-style: none;
  margin-top: 10px;
  padding-top: 5px;
}
li:hover{
  color: white;
  cursor: grab;
}
                     /* menu-footer */
.menu-footer{
  width: 200px;
  height: 80px;
  margin-bottom: 10px;
}
.download{
  margin-bottom: 10px;
  font-size: 17px;
}
.account{
  padding-top: 10px;
  border-top: 2px solid rgb(102, 102, 102);
  color: white;
    font-size: 17px;
}
                   /* sezione centrale */
 .centrale{
   width: 100%;
   height: calc(100vh - 90px);
   overflow-x: hidden;
 }
                    /* SEZIONE UPGRADE */
.top{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgba(0,0,0,.95);
  width: 100% ;
  height: 50px;
}
.upgrade{
  padding: 5px;
  margin: 10px;
  line-height: 15px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.upgrade:hover{
  margin: 5px;
  padding: 18px;
  line-height: 0px;
  cursor: grab;
}
                  /* SEZIONE PRINCIPALE */


/* MAIN */
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  color: rgb(102, 102, 102);
}
ul{
  justify-content: space-between;
}
li{
  display: inline-block;
  list-style: none;
  margin-top: 10px;
  padding-top: 5px;
  margin-right: 20px;
  font-size: 1em;
}
li a{
  text-decoration: none;
  list-style: none;
  color: white;
}

.recent{
  display: flex;
  color: white;
  width: 100%;
  margin-top: 30px;
}

.recent h4{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
}
.rec-img{
  color: white;
  width: 100%;
  margin-top:20px;
  margin-left: 10px;
  display: flex;
}
.row img{
  width: 200px;
  height: 200px;
}
.my{
  text-align: center;
  width: 200px;
  height: 250px;
  margin-right: 30px;
}
.my.music img:hover{
  opacity: 0.3;
}

.recent.creato,
.recent.artisti{
  margin-top: 10px;
}
/* creato */
.my.daily img:hover{
  opacity: 0.3;
}
/* artisti */
.my.artisti img{
  border-radius: 50%;
}
.my.artisti img:hover{
  opacity: 0.3;
}
/* SEZIONE RIPRODUZIONE */

.riproduzione{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: rgb(102, 102, 102);
  height: 90px ;
  width: 100%;
  position: absolute;
  z-index: 900;
  bottom: 0;
  padding: 0 16px;
  color: white;
}


.now{
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.now img{
  margin-top: 10px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.now .titolo{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 0.8em;
}

.play{
  width: 500px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
}
.plai{
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

}
.barra{
  width: 100px;
  height: 0px;
  border:3px solid black;
  position: relative;
}
.barraverde{
  position: absolute;
  width: 50px;
  background-color: green;
  height: 6px;
  bottom: -3px;
  left:-3px;
}
.barra.play{
  position: relative;
  width: 500px;
  height: 0px;
  border:3px solid black;
}
.barra.play .barraverde{
  width: 200px;
}

.vol{
  width: 200px;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.vol i{
  margin-right: 15px;
}
